<?xml version='1.0' encoding='utf-8'?>
<plugin id="growingio-plugin" version="0.1.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GrowingIOPlugin</name>
    <preference name="GROWINGIO_SCHEME" />
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <preference name="GROWINGIO_SCHEME" value="$GROWINGIO_SCHEME" />
            <preference name="webView" value="org.apache.cordova.engine.GrowingIOWebViewEngine" />
            <feature name="growingio-plugin">
                <param name="android-package" value="com.growingio.android.cordova.GrowingIOPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <data android:scheme="$GROWINGIO_SCHEME" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </config-file>
        <framework src="android/growingio.gradle" custom="true" type="gradleReference" />
        <source-file src="android/GrowingIOPlugin.java" target-dir="src/com/growingio/android/cordova/" />
        <source-file src="android/GrowingIOWebViewEngine.java" target-dir="src/com/growingio/android/cordova/" />
        <source-file src="android/GrowingIOSystemWebView.java" target-dir="src/com/growingio/android/cordova/" />
    </platform>
</plugin>
